@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|VT323');

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.tint {
  background-color: black;
  position: absolute;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  left: 0%;
  top: 0%;
}

.link {
  font-family: 'Major Mono Display', monospace;
  background-color: black;
  box-sizing: content-box;
  border: 2px solid #fff;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  position: relative;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 1.3vw;
  color: white;
  padding: 6px;
}

.link:hover {
  border-bottom: 5px solid white;
  box-sizing: content-box;
}
